.App {
  background: #edf0f6;
  padding: 0.5rem;
}

.quick-display {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


.container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  margin-left: 10px;
}

.water {
  --fillVar: 200%;
  width: 50px;
  height: 50px;
  background-color: #35b3e7;
  border-radius: 50%;
  position: relative;
  box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, .8), 0 0 20px 0 rgba(0, 0, 0, .3);
  overflow: hidden;
}

/* water ranges practically from 250% to 50% */
.water:before,
.water:after {
  /* --fillVar: 250%; */
  content: '';
  position: absolute;
  width: var(--fillVar);
  height: var(--fillVar);
  /* top: -40%; */
  left: 50%;
  background: #fff;
}

.water:before {
  border-radius: 45%;
  background: #fff;
  animation: wave 5s linear infinite;
}

.water:after {
  border-radius: 40%;
  background: rgba(255, 255, 255, .3);
  animation: wave 5s linear infinite;
}

@keyframes wave {
  0% {
    transform: translate(-50%, -50%) rotate(0);
    top: -30%;
  }

  50% {
    top: -33%;
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
    top: -30%;
  }
}